body
{
	font-family: 'Twinkle Star', cursive;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
  background-size: cover;
}
.heading
{
	width: 100%;
	text-align: left;
}
.heading h3
{
	display: inline;
}
.heading button
{
	float: right;
	border: 1px solid white;
}
.modal-dialog
{
	width: 90%;
}
canvas
{
	border: 1px solid whitesmoke;
}